@import url(grid-helpers.less);

@import url(grid-float.less);

body {
    margin: 0 auto;
    background-image: url(../img/bakgrund.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 1px;
    width:100%;
}




&.inner-wrap {
    .container();

    html.vgrid & {
        .showGrid(100%);
    }

    html.hgrid & {
        .showHGrid(100%);
    }



}

.row {
    .row();
}


.outer-wrap-header {
    background-color: black;

}


.logo-1 {
    position: absolute;
    left: 100px;
    top: 100px;
}


.navbar2 {
    .column(9);

}


.site-logo-text a{
    .column(3);
    color: white;

}

.flash-wrap {
    .column(12);
    display: none;
}

.main {
    .column(10);
    .push(1);
}

.outer-wrap-main {
    margin: 0 auto;
    width: 100%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.5);
    min-height: 500px;

}



.main.has-sidebar-left.has-sidebar{
    .column(9);

}

.sidebar-left {
    .column(3);
    .push(1);
    float: left;
    margin-left: 12px;

}

.after-main {
    .column(10);
    .push(1);
}

.site-footer {
    .column(12);

}

.footer-column {
    .column(12);
    display: inline;
    float: left;
    width: 31.25%;
}

.outer-wrap-footer {
    border-top: 2px solid grey;
    text-align: center;
}
