.navbar2 {
    background-color: black;
}

.rm-desktop li a {
    background-color: black;
    color: white;
    font-family: arial;
    font-size: 18px;
}

.rm-desktop li a:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;

}

.rm-max.rm-navbar {
    color: white;
}
