@import url(modules.less);

body {
    width:100%;

}


&.inner-wrap {
    .container();

}

&.inner-wrap {
    .container();

    html.vgrid & {
        .showGrid(100%)!important;
    }

    html.hgrid & {
        .showHGrid(100%);
    }
}

.row {
    .row();
}

.outer-flash-wrap {
    top:0px;
}

.flash-wrap {
    .column(12);

    & img {
        .column(12);
        width: 100%;
        margin: 0;
    }
}

.flash-img {
    width: 100%;
    height: auto;
}


.main {
    .column(10);
    .push(1);
}

.container-start {
    display: none;
}

.main.has-sidebar-right.has-sidebar{
    .column(9);
    margin-top: 50px;
    margin-left: 10px;
    padding: 30px;
}


.sidebar-right {
    .column(3);
    float: left;
    margin-top: 50px;
    border-left: 2px solid lightgrey;

}


.main.has-sidebar-left.has-sidebar{
    .column(9);
    margin-bottom: 5px;
    overflow: auto;
    padding: 20px;
}

.sidebar-left {
    .column(3);
    .push(1);
    float: left;
    margin-left: 12px;
    border-right: 2px solid lightgrey;
}

.after-main {
    .column(10);
    .push(1);
}

.wrapper {
    .column(10);
    .push(1);
}

.figure {
    border: none;
    width: 50%;
    border: none;
    margin: 0 auto;
}


.meta-footer {
    clear: both;
}

.article.blog {
    margin-top: 20px;
}

h2 {
    margin-top: 80px;
}
